
<section>
  <div class="row">
    <div class="col-md-8">
      <article class="blog-post">
            <%= simple_format(@post.content) %>
            <% if @post.attachment.present? %>
              <div class="blog-post-image">
                <%= image_tag @post.attachment.url, :width => '100%' %>
              </div>
            <% end %>
        <div class="blog-post-body">
          <h2><%= @post.title %></h2>
							<div class="post-meta"><span>by <a href="#">Jamie Mooze</a></span>/<span><i class="fa fa-clock-o"></i>March 14, 2015</span>/<span><i class="fa fa-comment-o"></i> <a href="#">343</a></span></div>
							<div class="blog-post-text">

								<p><%=@post.content %>have adopted approaches from the field of algebraic topology that previously had been used
                  primarily in the domain of pure mathematics and have applied them to experimental data on the activity of place cells — s
                  pecialized neurons in the part of the brain called the hippocampus that sense the
                  position of an animal in its environment,” said Curto.</p>
							</div>
						</div>
  <%= link_to 'Edit Post', edit_post_path(@post) %>
  <%= link_to 'Delete Post', post_path(@post), :confirm => 'Are you sure?', :method => :delete %>

  <header>
    <h3>Comments</h3>
  </header>
  <div class="comments">
    <% if @post.comments.persisted.any? %>
      <%= render @post.comments.persisted %>
    <% else %>
      <p>There are no comments for this post.</p>
    <% end %>
  </div>

  <%= render "comments/form", post: @post, comment: @comment %>
    </article>
  </div>
  <%= render partial: 'shared/sidebar_gutter' %>

  </div>
</section>
